body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./assets/baseball-field-2.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-size: 2.5em;
    margin: 0;
}

p {
    font-size: 1em;
    line-height: 1.5;
    margin: 20px 0;
}

button {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    padding: 10px 20px;
}

button:hover {
    background-color: #0056b3;
}

.teams-container {
    display: flex;
    align-items: center;
    gap: 10rem;
    justify-content: center;
    height: 100vh;
    margin: 0 auto;
}

.teams-container > div > p {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.loading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.loading-container > p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.select-first-team {
    display: flex;
    gap: 20px;
    align-items: center;
}

.select-first-team > button {
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    color: white;
}

.select-first-team > p {
    width: 200px;
    text-align: center;
    color: white;
}

.select-second-team {
    display: flex;
    gap: 20px;
}

.select-second-team > p {
    width: 200px;
    text-align: center;
    color: white;
}

.select-second-team > button {
    padding: 10px;
    background-color: transparent;
    font-size: 20px;
    color: white;   
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.play-ball-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;  
    margin: 0 auto;
    height: 100vh;
    text-align: center;
}

.vs {
    color: white;
}

.play-ball-container > p {
    color: white;
}

.big-table, .big-table > thead > tr > th, .big-table > thead > tr > td {
    border: 1px solid white;
    color: white;
}

.scoreboard {
    border-collapse: collapse;
}

.scoreboard td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

.scoreboard > thead > tr > .bases {
    padding: 0;
}




.diamond-container {
    position: relative;
    width: 100px;
    height: 100px;
  }

  .base {
    width: 30px;
    height: 30px;
    background-color: #888585;
    border: none;
    transform: rotate(45deg); 
    position: absolute;
  }

  .occupied {
    background-color: #dadd16; 
  }

  .first {
    top: 70%;
    left: 50%;
    margin-left: 20px;
    transform: translate(-50%, -50%) rotate(45deg);
  }


  .second {
    top: 48%;
    left: 45%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .third {
    top: 70%;
    left: 21%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .innings {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    align-items: center;
  }
  .arrows > p {
    margin: 0;
    height: 10px;
  }

  .arrows > p:first-child {
    transform: rotate(270deg);
  }

  .arrows > p:last-child {
    transform: rotate(270deg);
  }

  .scoreboard {
    color: white;
  }